@font-face {
 font-family: RedHatText-Medium;
 src: url("assets/fonts/RedHatText-Medium.ttf");
}
@font-face {
 font-family: Magra-Bold;
 src: url("assets/fonts/Magra-Bold.ttf");
}
@font-face {
 font-family: Aleo-Bold;
 src: url("assets/fonts/Aleo-Bold.ttf");
}
@font-face {
 font-family: Aleo-BoldItalic;
 src: url("assets/fonts/Aleo-BoldItalic.ttf");
}
@font-face {
 font-family: Aleo-Italic;
 src: url("assets/fonts/Aleo-Italic.ttf");
}
@font-face {
 font-family: Aleo-Regular;
 src: url("assets/fonts/Aleo-Regular.ttf");
}

html {
 scroll-behavior: smooth;
}

body {
 background: #FFFFFF;
 margin: 0;
}

.container {
 width: 1440px;
 margin: 0 auto;
 /* padding: 0 20px; */
}

/* .............................................. header .............................................. */

.header-container {
 display: flex;
 justify-content: space-between;
 align-items: center;

 padding: 0 120px;
 height: 90px;
 background-image: 
  linear-gradient(to top, rgba(242, 120, 92, 0.7), rgba(242, 120, 92, 0.7)),
  url('./assets/img/garrett-parker.jpg');
 box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5); 
}

.navig {
 display: flex;
 justify-content: space-between;
 align-items: center;

 list-style: none;
 width: 527px;
 padding-right: 79px;
}

.nav-link {
 color: #FFFFFF;
 text-decoration: none;
 font-family: RedHatText-Medium;
 font-size: 16px;
 line-height: 21px;
 transition: 0.3s;
}
.nav-link:hover {
 opacity: 0.5;
}

.btn {
 display: flex;
 justify-content: center;
 align-items: center;

 width: 103px;
 height: 41px;
 border: 0;
 border-radius: 10px;
 background-color: #0D606F;
 cursor: pointer;
 /* font-family: inherit; */

 font-family: RedHatText-Medium;
 font-size: 16px;
 line-height: 21px;
 color: #FFFFFF;
 transition: 0.3s;
 text-decoration: none;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
}
.btn:hover {
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
 border-radius: 3px;
}

.logo {
 display: flex;
 align-items: center;
 width: 216px;
 height: 31px;
}
.image-logo {
 background-image: url("/assets/svg/logo.svg");
 width: 30px;
 height: 30px;
}
.text-logo {
 font-family: Magra-Bold;
 font-size: 32px;
 line-height: 39px;
 color: #FFFFFF;
 padding-left: 5px;
}

/* .............................................. main .............................................. */

/* .............................................. section plan .............................. */


.plan {
 /* height: 765px; */
 padding: 32px 428px 221px 120px;
 background: url('./assets/img/garrett-parker.jpg');
 background-position: center -90px;
 background-repeat: no-repeat;
}

.plan-content {
 /* border: 1px solid black; */
 width: 892px;
 height: 422px;

 display: flex;
 flex-direction: column;
 justify-content: space-around;
}

h1 {
 font-family: Aleo-Bold;
 font-size: 80px;
 line-height: 96px;
 color: #FFFFFF;
 margin: 0;
 margin-top: -18px;
}

.plan-subheading {
 font-family: Aleo-BoldItalic;
 font-size: 20px;
 line-height: 24px;
 color: #FFFFFF;
 margin-bottom: 10px;
}

.search {
 width: 892px;
 height: 95px;
 background: rgba(255, 255, 255, 0.7);
 border-radius: 16px;
 margin-bottom: 15px;
 display: flex;
 justify-content: space-around;
 align-items: center;
}
.search-text {
 width: 565px;
 height: 22px;
 margin: 0 0 10px 23px;

 font-family: Aleo-Italic;
 font-size: 24px;
 line-height: 29px;
 color: #F2785C;
}
.btn2 {
 display: flex;
 justify-content: center;
 align-items: center;

 width: 228px;
 height: 59px;
 border: 0;
 border-radius: 10px;
 background-color: #0D606F;
 cursor: pointer;

 font-family: RedHatText-Medium;
 font-size: 24px;
 line-height: 32px;
 color: #FFFFFF;
 transition: 0.3s;
 text-decoration: none;
 box-shadow: 0px 3px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
}
.btn2:hover {
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
 border-radius: 3px;
}

/* .............................................. section How It Works .............................. */

.how-it-works {
 height: 424px;
 padding: 80px 117px 97px 146px;
 background-color: #FFFFFF;
}

.howitworks-content {
 border: 1px solid black;
 width: 1177px;
 height: 247px;

 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
}

.steps-text {
 width: 1177px;
 display: flex;
 justify-content: space-between;
}
.step, .step-correct {
 font-family: Aleo-Regular;
 font-size: 20px;
 line-height: 24px;
 color: #0D606F;
 margin: 0;
}
.step-correct {
 padding-left: 40px;
}

.steps-icons {
 width: 994px;
 display: flex;
 justify-content: space-between;
 margin-right: 33px;
 margin-top: 10px;
}

.steps-icon {
 width: 100px;
 height: 100px;
 background-color: #F2785C;
 border-radius: 16px;

 display: flex;
 justify-content: center;
 align-items: center;
}

h2 {
 font-family: RedHatText-Medium;
 font-size: 40px;
 line-height: 53px;
 color: #F2785C;
 margin: 0 17px 0 0;
}